# These owners will be the default owners for everything in the repo.
* @terraform/admins @terraform/database 

# Admins are owners of CI and code reviewers configuration
.github/   @terraform/admins


